<html>
<head>
    <title>CallRevenueMgmt</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-gradient">
    <p class="alert alert-heading display-3">New Application</p>
</body>
</html>